# Pterodactyl
PANEL_URL=https://your-panel.com
API_KEY=ptlc_YOUR_API_KEY
SERVER_ID=YOUR_SERVER_ID
TIMEOUT=10000

# Discord
DISCORD_TOKEN=TOKEN_BOT_DISCORD_KAMU
DISCORD_CHANNEL_ID=ID_CHANNEL_DISCORD_KAMU

# App
PORT=3000
